<h1>Locations</h1>

<% @locations.each do |location| %>
  <table style="width:80%">
    <h1>
      <%= link_to location.name_location, location_path(location), class: "nav-link" %>
    </h1>

  </table>
<% end %>

<br>
<button> <%= link_to "New location", new_location_path, class: "nav-link" %> </button>